#invoice-POS {
    box-shadow: 0 0 1in -0.25in rgba(0, 0, 0, 0.5);
    padding: 2rem;
    margin: 0 auto;
    width: 600px;
    height: auto;
    background: #fff;
}

    #invoice-POS ::selection {
        background: #f31544;
        color: #fff;
    }

    #invoice-POS ::moz-selection {
        background: #f31544;
        color: #fff;
    }

    #invoice-POS h1 {
        font-size: 32px;
        color: #222;
    }

    #invoice-POS h2 {
        font-size: 14px;
    }

    #invoice-POS h3 {
        font-size: 16px;
        font-weight: 300;
        line-height: 2em;
    }

    #invoice-POS p {
        font-size: 14px;
        color: #666;
        line-height: 1.2em;
    }

    #invoice-POS #top,
    #invoice-POS #bot {
        border-bottom: 1px solid #eee;
    }

    #invoice-POS #top {
        min-height: 100px;
    }

    #invoice-POS #mid {
        min-height: 80px;
        margin: 2rem 0;
    }

    #invoice-POS #bot {
        min-height: 50px;
    }

    #invoice-POS #top .logo {
        height: 40px;
        width: 40px;
        background: url(https://res.cloudinary.com/matrixweb/image/upload/v1617613244/XChange_yioedm.svg) no-repeat;
        background-size: 40px 40px;
    }

    #invoice-POS .clientlogo {
        float: left;
        height: 40px;
        width: 40px;
        background: url(https://res.cloudinary.com/matrixweb/image/upload/v1617613244/XChange_yioedm.svg) no-repeat;
        background-size: 40px 40px;
        border-radius: 50px;
    }

    #invoice-POS .info {
        display: block;
        margin-left: 0;
    }

    #invoice-POS .title {
        float: right;
    }

        #invoice-POS .title p {
            text-align: right;
        }

    #invoice-POS table {
        width: 100%;
        border-collapse: collapse;
    }

    #invoice-POS .tabletitle {
        font-size: 14px;
        background: #eee;
    }

    #invoice-POS .service {
        border-bottom: 1px solid #eee;
    }

    #invoice-POS .item {
        width: 250px;
    }

    #invoice-POS .Hours {
        width: 100px;
    }

    #invoice-POS .itemtext {
        font-size: 14px;
    }

    #invoice-POS #legalcopy {
        margin-top: 2rem;
    }
